-r requirements.txt
flake8
mypy
build

pytest
pytest-asyncio
pytest-cov

# Toml and coverage temporarely fixes compatibility issues between coverage-lcov and coverage
# see for details: https://github.com/theupdateframework/python-tuf/issues/2254
coverage-lcov
toml
coverage

mock
types-mock
attrs

# Install extra requirements for unit tests to work
# Note: the 'extras_require' comments are parsed by setup.py
Jinja2>=3.1.2 # extras_require jinia
tomli>=2.0.1 # extras_require tomli

zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability